$primany-color: #da2d6f;
$m-color1: #67a8f1;
$m-color2: #005dc7;
$m-color3: #002855;

.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}
.label-vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
